* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c0afd8;
}
.container {
  max-width: 12000px;
  margin: 0 auto;
}

.box {
  max-width: 800px;
  padding: 50px;
  background-color: rgb(219, 199, 199);
  margin: 0 auto;
  margin-top: 80px;
  }

.title {
  font-size: 20px;
}

.form_container {
  margin-top: 20px;
  display: grid;
  gap: 15px;
}
.form_control {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 15px;
  margin-bottom: 5px;
}

input,
select,
textarea {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}

input:focus {
  outline-color: rgb(31, 6, 96);
}

.button_container {
  display: flex;

  justify-content: flex-end;
  margin-top: 20px;
}
button {
  background-color: red;
  border: transparent solid 2px;
  padding: 5px 10px;
  color: white;
  border-radius: 8px;
  transition: 0.3s ease-in;
}
button:hover {
  background-color: #ccc;
  border: 2px solid red;
  color: black;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.textarea_control {
  grid-column: 1 / span 2;
}
.textarea_control textarea {
  width: 100%;
}


